.question {
    padding: 100px;
    padding-bottom: 10px;
    .question-title {
        p {
            font-size: 25px;
            font-weight: 700;
        }
    }
    .question-content {
        p {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .question-answer {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        input {
            width: 40px;
            height: 20px;
        }
    }
}